<a href="https://colab.research.google.com/github/Mariyaben/rap/blob/main/Sequential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sequential Programs**

### **1. Program to print the average of three numbers**

In [ ]:
a = int (input(" Please Enter the First Number: ")) 

b = int (input(" Please Enter the second number: "))

c = int (input(" Please Enter the third number: "))

average=(a+b+c)/3

print("The average of three numbers is ", average)

 Please Enter the First Number: 3
 Please Enter the second number: 6
 Please Enter the third number: 9
The average of three numbers is  6.0

## **2.** **Program to print sum and average of three numbers**

In [ ]:
num1 = int(input("Please Enter the First Number  = "))
num2 = int(input("Please Enter the Second number = "))
num3 = int(input("Please Enter the Third number  = "))


sumOfThree = num1 + num2 + num3

avgOfThree = sumOfThree / 3

print('The sum of {0}, {1} and {2} = {3}'.format(num1,num2, num3, sumOfThree))
print('The Average of {0}, {1} and {2} = {3}'.format(num1,num2, num3, avgOfThree))

Please Enter the First Number  = 7
Please Enter the Second number = 3
Please Enter the Third number  = 99
The sum of 7, 3 and 99 = 109
The Average of 7, 3 and 99 = 36.333333333333336

## **3.** **Program to Convert the Time entered in Seconds to Hours,Minutes,Seconds**

In [ ]:
time = float(input("Input time in seconds: "))
day = time // (24 * 3600)
time = time % (24 * 3600)
hour = time // 3600
time %= 3600
minutes = time // 60
time %= 60
seconds = time
print("d:h:m:s-> %d:%d:%d:%d" % (day, hour, minutes, seconds))

Input time in seconds: 6778
d:h:m:s-> 0:1:52:58

### **4. Program to print Area and Perimeter of a Triangle**

In [ ]:
a = float(input('Enter first side: '))  
b = float(input('Enter second side: '))  
c = float(input('Enter third side: '))  

s = (a + b + c) / 2  
 
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5  
print('The area of the triangle is %0.2f' %area)

Enter first side: 6
Enter second side: 4
Enter third side: 5
The area of the triangle is 9.92

### **5. Program to print area of circle**

In [ ]:
r = float(input("Enter the radius of a circle:"))
area = 3.14 * r * r
print("Area of a circle = %.2f" %area)

Enter the radius of a circle:5
Area of a circle = 78.50

### **6. Program  to enter two unequal number and interchange them without using a third variable.**

In [ ]:
x = int(input("Enter the value of x?"))  
y = int(input("Enter the value of y?"))  
print("before swapping numbers: %d   %d\n" %(x,y))  
#swapping#  
x = x + y     
y = x - y    
x = x - y     
print("After swapping: %d   %d\n"%(x,y))

Enter the value of x?55
Enter the value of y?88
before swapping numbers: 55   88

After swapping: 88   55

### **7. Program to display sum, difference, product, quotient and remainder of two unequal numbers.**

In [ ]:
n1 = float(input("Enter First Number: "))
n2 = float(input("Enter Second Number: "))

print("Sum =", n1+n2)
print("Difference =", n1-n2)
print("Product =", n1*n2)
print("Quotient =", n1/n2)

Enter First Number: 66
Enter Second Number: 6
Sum = 72.0
Difference = 60.0
Product = 396.0
Quotient = 11.0

### **8. Program to Write a program to enter the number of days and display into years, months and days.**

In [ ]:
days=int(input("Enter Day:"))

years =(int) (days / 365)
weeks =(int) (days / 7)
months =(int) (days / 30)

print("Days to Years:",years)
print("Days to Weeks:",weeks)
print("Days to Months:",months)

Enter Day:369
Days to Years: 1
Days to Weeks: 52
Days to Months: 12